body {
    background-color: black;    
    background-image: url(https://cn.pling.com/img/b/5/e/5/78a5be4224ad9f9c4f55f63ef0a17ed6b5ec.jpg);
}

header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    padding: 10px 10px;
    width: 350px;
    margin: 0 auto;
    top: 20px;
}

p {
    color: white;
}

.links a {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 200;
}

.links a:hover {
    color: white;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

hr {
    width: 800px;
    margin: 20px auto;
}

.article {
    background-color: rgba(255, 255, 255, 0.7);
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 10px;
    overflow: scroll;
}

.article p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    font-family: Arial, Helvetica, sans-serif;
}

#video {
    margin: 0 auto;
    width: 1280px;
    height: 720px;
}